doctype
html.no-js
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title Is Rob Home Yet?
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="stylesheet", href="stylesheets/main.css")
  body
    header
      .is_rob_home
        .question
          h1 IS ROB HOME YET?
        .answer
    section#main
      .countdown
        h1 COUNTDOWN TO ROB
        .flipclock
      .robfact
        .well
          .body
            .hashtag
              img(src="/images/robfact.png")
            .fact
              p
      h2.another-robfact SHOW ME ANOTHER
      footer
        .contents
          .sb
            a(href="http://sbox.es")
              span.smashing SMASHING
              span.boxes BOXES
    script(src="scripts/app.js")

